* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
   background: #f9f9f9;
  overflow-x: hidden;
}
/* ========================================= HEADER ========================================================= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #008cba; */
  padding: 10px 20px;
  color: #3D3D3D;
  position: relative;
 padding: 20px 40px 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
  display: none;
}

.logo span {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0095DE;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar ul li a {
  color: #3D3D3D;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #fff;
  padding: 10px 20px;
 background: linear-gradient(to right, #A7E2FF, #0095DE);
  border-radius: 20px;
}

.join {
  display: flex;
  align-items: center;
  gap: 10px;
}

.join-btn,.join-btn-mobile {
  background:linear-gradient(#A7E2FF,#0095DE) ;
background: linear-gradient(to right, #A7E2FF, #0095DE);
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition:  0.3s;
}

.join-btn:hover,
.join-btn-mobile:hover {
 box-shadow: 0 0 5px #3D3D3D;
}
.join-btn-mobile{
  display: none;
}
.menu-toggle {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}
/* ===========================================main section=============================================== */
main{
  padding: 10px 30px;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 40px;
  background-color: white;
  gap: 40px;
}

.left-side {
  flex: 1;
  min-width: 300px;
}

.left-side h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #3D3D3D;
}

.left-side .highlight {
  color: #0095DE;
}

.left-side p {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #555;
}

.cta-btn {
  background: linear-gradient(to right, #A7E2FF, #0095DE);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.cta-btn i {
  margin-left: 10px;
}

.partners {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.trusted-images{
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.partners img {
  height: 20px;

}
.trusted-text{
  color: #3D3D3D;
}
.right-side {
  flex: 1;
  min-width: 300px;
  position: relative;
}

.image-wrapper {
  position: relative;
  text-align: center;
}

.oval-bg {
  width: 280px;
  height: 385px;
  background: #A7E2FF;
  border-radius: 150px 150px 0 0;
  margin: 0 auto;
  position: relative;

}

.main-img {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  height: 360px;
  border-radius: 20px;
  z-index: 2;
}

.customer-box {
  position: absolute;
  right: -15px;
  top: 25%;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px 15px;
  border-radius: 12px;
  width: 170px;
  z-index: 3;
  text-align: left;
  
}

.profile-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: -8px;
  border: 2px solid white;
}

.extra {
  margin-left: 10px;
  font-size: 0.9rem;
  color: #555;
}

.happy-text {
  font-weight: bold;
  margin-bottom: 5px;
  color: #0095DE;
}

.ratings {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #555;
}

.bottom-text {
 
  font-size: 0.9rem;
  color: #777;
  line-height: 1.5;
  width: 300px;
 background: #95DDFF;
 position: absolute;
 right: 40px;
 color: #3D3D3D;
 border-radius: 20px;
 bottom: -90px;
 padding: 10px;
}


.left-badge {
  position: absolute;
  left: -30px;
  bottom: 60px;
  background: #f9f9f9;
  padding: 8px 16px;
  border-left: 4px solid #0095DE;
  border-radius: 0 20px 20px 0;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 99;
  color: #0095DE;

}

/* ==================================================APPOINTMENT================================================ */
.booking-section {
  width: 100%;
  padding: 40px 20px;
  background: #f9f9f9;
}

.booking-container {
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid #95DDFF;
  border-radius: 20px;
  padding: 30px;
  background-color: #ffffff;
}

.booking-top h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #0095DE;
  text-align: center;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #555;
  font-size: 1rem;
  margin-bottom: 20px;
}

.icon-row i {
  color: #0095DE;
  font-size: 1.2rem;
}

.booking-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  min-width: 200px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #3D3D3D;
}

.form-group input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #0095DE;
  box-shadow: 0 0 5px rgba(0, 149, 222, 0.2);
}

.btn-group {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}

.book-btn {
  background: #fff;
  color: #000;
  border: 2px solid #0095DE;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.book-btn i {
  background: white;
  border-radius: 50%;
  padding: 5px;
  color: #0095DE;
}

.book-btn:hover {
  background: #0095DE;
  color: #fff;
}

.book-btn:hover i {
  background: #fff;
  color: #0095DE;
}
/* ===========================================SERVICES=============================================== */
.top-services-section {
  padding: 60px 20px;
 background: white;
  font-family: 'Segoe UI', sans-serif;
}

.section-header {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 40px auto;
}

.section-header h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.section-header .highlight {
  color: #0095de;
}

.section-header p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.services-boxes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.bottom-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.service-box {
  background-color: #fff;
  border: 1.5px solid #95DDFF;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  text-align: start;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.service-box img {
  width: 40px;
  margin-bottom: 15px;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
}

.service-box h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.service-box p {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.5;
}

/* Size control */
.big {
  flex: 2;
}
.small {
  flex: 1;
}


/* ====================health net story================================== */
.story-section {
 margin-top: 40px;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  border: 20px solid #A7E2FF;
  padding: 30px;
  border-radius: 100px;
}

.story-box {
  max-width: 1280px;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(to right,#fff,#A7E2FF);
  padding: 40px;
  box-shadow: 0px 4px 10px #333;
  transition: 0.3s ease-in;
}
.story-box:hover{
  box-shadow: none;
}

.story-heading {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.story-heading span {
  color: #0095de; /* Different color for 'HealthsNet' */
  font-weight: bold;
}

.story-content {
  display: flex;
  justify-content: space-between;
gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.story-left {
  flex: 2;
  display: flex;
  justify-content: center;
}

.doctor-image {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
 
}

.story-right {
  flex: 2;
}

.story-right p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.learn-more-btn {
  padding: 10px 20px;
 background: linear-gradient(to right, #A7E2FF, #0095DE);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #019f7f;
}

/* ===========================platform works================================= */
.platform-section {
  /* background-color: #f5faff; */
  padding: 70px 50px;
  display: flex;
  justify-content: center;
}

.platform-box {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

.platform-heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.platform-heading span {
  color: #0095DE;
  font-weight: bold;
}

.platform-desc {
  font-size: 16px;
  color: #555;
  margin-bottom: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.platform-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

/* Left side steps */
.platform-steps {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  background:linear-gradient(to right, #A7E2FF,#0095DE);
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.step-text {
  text-align: left;
}

.step-text h3 {
  font-size: 18px;
  margin: 0 0 5px;
}

.step-text p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

/* Right side image + plus sign */
.platform-image-box {
  position: relative;
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.doctor-img {
  max-width: 100%;
  width: 350px;
  border-radius: 20px;
  z-index: 2;
  position: relative;
  
}
.plus-img{
 position: absolute;
 top: 25%;
 left: 65%;
 z-index: 99;
}

/* ================================patient section============================================= */

.testimonials-section {
  padding: 20px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.gradient-heading {
  font-size: 3rem;
  font-weight: bold;
color: #0095DE;
  margin-bottom: 10px;

}

.sub-heading {
  font-size: 22px;
  margin-bottom: 8px;
  color: #333;
}

.sub-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 40px;
}

.testimonial-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
padding: 0 70px;
}

.testimonial-box {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  max-width: 400px;
  flex: 1;
  border: 2px solid #A7E2FF;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.patient-img {
 
width: 10%;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-text p {
  font-size: 14px;
  color: #555;
  margin: 0;
  text-align: left;
}

.customer-stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;

}

.stat {
  text-align: center;
}

.stat h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0095DE;
}

.stat p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
/* ==============================================TEAM MEMBERS================================================ */

.doctors-section {
  padding: 60px 20px;
  background: #f8f9fb;
  text-align: center;
}

.doctors-section .main-heading {
  font-size: 3rem;
  font-weight: bold;
  color:#0095DE;
}

.doctors-section .sub-heading {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #000;
}

.doctors-section .intro-text {
  max-width: 700px;
  margin: 0 auto 40px;
  color: #555;
  line-height: 1.6;
}

.doctor-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
   background: linear-gradient(to right,#fff,#A7E2FF);
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  margin: 20px 0;
  padding: 20px;
  text-align: left;
  margin: 30px 100px;
    box-shadow: 0 0px 10px #666;
  transition: 0.3s ease-in;
}
.doctor-box:hover{
  box-shadow: none;
}
.doctor-left img {
  border-radius: 15px;
  width: 200px;
  height: auto;
  object-fit: cover;
}

.doctor-right {
  flex: 1;
  margin-left: 20px;
}

.doctor-name {
  font-size: 2rem;
  color: #0095DE;
}

.doctor-name span {
  font-size: 0.9rem;
  font-weight: normal;
  color: #000;
}

.doctor-right p {
  margin: 15px 0;
  color: #555;
  line-height: 1.6;
}

.book-btn {
  background: linear-gradient(to right,#A7E2FF,#0095DE);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.book-btn i {
  margin-right: 8px;
}

/* .book-btn:hover {
  background: #0095de;
} */

/* =================================FOOTER=============================== */
.footer {
  
  color: #000;
  padding: 50px 15px 10px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  gap: 5rem;
}

.footer-left {
  /* flex: 1 1 250px; */
  flex-basis: 1;
  margin-bottom: 20px;
}

.footer-left .logo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0095de;
}

.footer-left p {
  font-size: 14px;
  line-height: 1.6;
  width: 200px;
}

.footer-right {
  margin-top: 10px;
  display: flex;
  gap: 40px;
  flex: 2;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  min-width: 150px;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #0095DE;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #0095de;
}

/* ===footer bottom=== */

/* Footer Bottom */
.footer-bottom {

  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 border-top-color: #0095DE;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  text-decoration: none;
  width: 35px;
  height: 35px;
  background: #0095DE;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: background 0.3s;
}

.social-icons a:hover {
  box-shadow: 0 0 5px #000;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
  color: #000;
}


/* ==============================================Responsive==================================================== */
@media ( max-width: 768px) {
  .header{
    padding: 5px 15px;
    padding: 10px 30px;
  }
  .navbar {
    position: absolute;
    top:60px;
    right: 30px;
    /* background-color: #008cba; */
    /* width: 100%; */
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 999; /* Add this line */
  }

  .navbar.active {
    display: flex;
  }

  .navbar ul {
background: linear-gradient(to right, #0095DE,#3D3D3D);
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 40px;
    border-radius: 20px;
   
   
  }
  .navbar ul li{
     transition: 0.3s ease-in-out;
  }
.navbar ul li a{
  color: #A7E2FF;
}
  .navbar ul li a:hover {
  color: #fff;
  padding: 6px 10px;
 background: linear-gradient(to right, #A7E2FF, #0095DE);
  border-radius: 20px;
}
.join-btn{
  display: none;
}
.join-btn-mobile{
  display: block;
  margin-top: 10px;
}
  .menu-toggle {
    display: block;
    color: #3D3D3D; /* Match your theme */
  }

/* ==================================================herosec============================== */
/* main{
 
  padding:5px 10px 5px 5px;
} */
 main{
  padding: 10px 0px;
}
.main-section{
         padding: 10px 30px 10px 15px;
  gap: 20px;
}
.left-side p {
  padding: 10px 50px 10px 2px;
}

.customer-box{
  top: 100%;
  right: 13%;
}
.oval-bg {
  margin: 0;
  width: 260px;
}
.main-img{
      transform: translateX(-55%);
      top: 0px;
}
.left-badge {
  bottom: 2px;
  left: 6px;
}
.bottom-text{
  display: none;
}
.booking-section {
  margin-top: 5rem;
  padding: 20px 10px;
}
.booking-container {
  padding: 20px;
  margin-top: 10px;
}








  /* ====================appointment sec==================================== */
  /* Responsive */

  .booking-form {
    flex-direction: column;
    gap: 10px;
  }
.booking-top h2{
  margin-bottom: 30px;
}
  .form-group {
    width: 100%;
    flex: 0;
  }

  .btn-group {
    align-items: center;
    justify-content: center;
  }
  /* ==================service box========================= */
  .service-box {
    flex: initial;
  }
  /* =============================health net story======================= */
.story-section{
  border:0;
  padding: 0px;
}
.story-box{
  margin: 10px;
}
.circle{
  width: 70px;
}
  .story-content {
    flex-direction: column;
    gap: 10px;
  }

  .story-heading {
    font-size: 24px;
  }


  .platform-content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
  }
.platform-section {
 padding: 20px 15px;
}
.platform-desc{
  padding: 0 25px 0 2px;
}
  .platform-steps {
    align-items: center;
  }

  .step {
    flex-direction: row;
    align-items: center;
  }

 .step-text{
  padding: 2px 25px 0px 0px;
 }
 .sub-text{
  padding: 10px 20px;
 }
  .testimonial-row {
    flex-direction: column;
    align-items: center;
    padding: 0 0;
  }
  .testimonial-box{
    flex-direction: column;
    
  }
  .patient-img{
    width: 30%;
    border-radius: 0;
    border-radius: 10px 20px;
  }



/* team members */
  .doctor-box {
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }

  .doctor-right {
    margin-left: 0;
    margin-top: 20px;
  }




  .footer-container {
    flex-direction: column;
    text-align: center;
  }
.footer-left{
  margin: auto;
}
  .footer-right {
    justify-content: center;
    gap: 20px;
  }
.footer-bottom{
 
justify-content: center;
gap: 10px;

}

}